# Galera Cluster Config
[galera]
wsrep_on=on
wsrep_provider=/usr/lib64/galera-4/libgalera_smm.so
wsrep_provider_options="gcache.size=5G; gmcast.listen_addr=tcp://1.1.1.1:4567; ist.recv_addr=1.1.1.1:4568;"
wsrep_cluster_address=gcomm://2.2.2.2:4567
wsrep_cluster_name=my_cluster_name
wsrep_node_name=1.1.1.1
wsrep_sst_auth=sst:sst888
wsrep_sst_method=rsync
wsrep_sst_receive_address=1.1.1.1:4444
wsrep_node_address=1.1.1.1
